In [5]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [8]:
df = pd.read_csv('Dataset_spine.csv')

In [9]:
df = df.drop(['Unnamed: 13'], axis=1)

In [10]:
df.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Class_att
0,63.027818,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123,Abnormal
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102,Abnormal
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221,Abnormal
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329,Abnormal
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171,Abnormal

In [11]:
df = df.drop(['Col7','Col8','Col9','Col10','Col11','Col12'], axis=1)

In [12]:
df.head()

        Col1       Col2       Col3       Col4        Col5       Col6 Class_att
0  63.027818  22.552586  39.609117  40.475232   98.672917  -0.254400  Abnormal
1  39.056951  10.060991  25.015378  28.995960  114.405425   4.564259  Abnormal
2  68.832021  22.218482  50.092194  46.613539  105.985135  -3.530317  Abnormal
3  69.297008  24.652878  44.311238  44.644130  101.868495  11.211523  Abnormal
4  49.712859   9.652075  28.317406  40.060784  108.168725   7.918501  Abnormal

In [14]:
y = df['Class_att']
x = df.drop(['Class_att'], axis=1)

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.25, random_state=27)

In [25]:
clf = MLPClassifier(hidden_layer_sizes=(100,100,100), max_iter=500, alpha=0.0001,
                     solver='sgd', verbose=10,  random_state=21,tol=0.000000001)

In [26]:
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

Iteration 1, loss = 4.76853521
Iteration 2, loss = 8.73610235
Iteration 3, loss = 1.55562179
Iteration 4, loss = 0.94416556
Iteration 5, loss = 1.50851327
Iteration 6, loss = 0.50784081
Iteration 7, loss = 0.39918410
Iteration 8, loss = 0.37867398
Iteration 9, loss = 0.37472479
Iteration 10, loss = 0.34567928
Iteration 11, loss = 0.34293793
Iteration 12, loss = 0.33180054
Iteration 13, loss = 0.33138624
Iteration 14, loss = 0.32280653
Iteration 15, loss = 0.32238711
Iteration 16, loss = 0.33164385
Iteration 17, loss = 0.31229600
Iteration 18, loss = 0.30823387
Iteration 19, loss = 0.32317560
Iteration 20, loss = 0.30697614
Iteration 21, loss = 0.30901736
Iteration 22, loss = 0.35327698
Iteration 23, loss = 0.31835192
Iteration 24, loss = 0.30599160
Iteration 25, loss = 0.30315921
Iteration 26, loss = 0.30774646
Iteration 27, loss = 0.30939928
Iteration 28, loss = 0.30205629
Iteration 29, loss = 0.30492366
Iteration 30, loss = 0.30627954
Iteration 31, loss = 0.32245209
Iteration 32, loss = 0.30092367
Iteration 33, loss = 0.32289947
Iteration 34, loss = 0.30300054
Iteration 35, loss = 0.29623179
Iteration 36, loss = 0.29708219
Iteration 37, loss = 0.30250871
Iteration 38, loss = 0.29467717
Iteration 39, loss = 0.29677633
Iteration 40, loss = 0.29248421
Iteration 41, loss = 0.29520714
Iteration 42, loss = 0.34293079
Iteration 43, loss = 0.29191404
Iteration 44, loss = 0.29066025
Iteration 45, loss = 0.29314507
Iteration 46, loss = 0.30713375
Iteration 47, loss = 0.28961352
Iteration 48, loss = 0.29269266
Iteration 49, loss = 0.35675684
Iteration 50, loss = 0.29497979
Iteration 51, loss = 0.32161702
Iteration 52, loss = 0.31725676
Iteration 53, loss = 0.28841341
Iteration 54, loss = 0.32379049
Iteration 55, loss = 0.30023310
Iteration 56, loss = 0.30758373
Iteration 57, loss = 0.29833024
Iteration 58, loss = 0.30977012
Iteration 59, loss = 0.28748498
Iteration 60, loss = 0.30416906
Iteration 61, loss = 0.31005774
Iteration 62, loss = 0.29357602
Iteration 63, loss = 0.29838988
Iteration 64, loss = 0.28817921
Iteration 65, loss = 0.31316590
Iteration 66, loss = 0.28847521
Iteration 67, loss = 0.28735284
Iteration 68, loss = 0.29273707
Iteration 69, loss = 0.31120553
Iteration 70, loss = 0.28602647
Iteration 71, loss = 0.28878231
Iteration 72, loss = 0.28673847
Iteration 73, loss = 0.29844198
Iteration 74, loss = 0.28573291
Iteration 75, loss = 0.28849915
Iteration 76, loss = 0.30711551
Iteration 77, loss = 0.28537053
Iteration 78, loss = 0.28906500
Iteration 79, loss = 0.31497841
Iteration 80, loss = 0.32441142
Iteration 81, loss = 0.30927713
Iteration 82, loss = 0.28468929
Iteration 83, loss = 0.28284050
Iteration 84, loss = 0.28486940
Iteration 85, loss = 0.28324834
Iteration 86, loss = 0.28635970
Iteration 87, loss = 0.28255922
Iteration 88, loss = 0.28968301
Iteration 89, loss = 0.28914169
Iteration 90, loss = 0.41232697
Iteration 91, loss = 0.33779084
Iteration 92, loss = 0.30298213
Iteration 93, loss = 0.29320069
Iteration 94, loss = 0.28770790
Iteration 95, loss = 0.29386661
Iteration 96, loss = 0.30271605
Iteration 97, loss = 0.31373311
Iteration 98, loss = 0.28213563
Iteration 99, loss = 0.32039083
Iteration 100, loss = 0.28225381
Iteration 101, loss = 0.28239536
Iteration 102, loss = 0.28888423
Iteration 103, loss = 0.40146253
Iteration 104, loss = 0.28481547
Iteration 105, loss = 0.28301174
Iteration 106, loss = 0.28824478
Iteration 107, loss = 0.28220960
Iteration 108, loss = 0.29126322
Iteration 109, loss = 0.28446019
Training loss did not improve more than tol=0.000000 for 10 consecutive epochs. Stopping.

In [28]:
accuracy_score(y_test, y_pred)

0.7948717948717948